<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev_candra.onlineshopproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Activity_Order_Detail"></activity>
        <activity android:name=".activity.Produk_Detail_Activity" />
        <activity android:name=".activity.Category_Activity" />
        <activity
            android:name=".activity.Email_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.Phone_Actiity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"
            tools:ignore="LockedOrientationActivity" /> <!-- Membuat Activiy Tempt -->
        <activity
            android:name=".activity.Tempt"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            tools:ignore="LockedOrientationActivity" /> <!-- Membuat Activity Main/Utama -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="online-shop-579b9.firebaseapp.com/_"
                    android:scheme="https" />
            </intent-filter>
        </activity> <!-- Membuat Splash Screen -->
        <activity
            android:name=".activity.SplashScrreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>